.App {
  text-align: center;
}

#allBooksImage {
  height: 400px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  margin-bottom: 60px;
}

#oneBookImage {
  height: 500px;
  margin: 25px;
  
}

#oneBookDescription {
  text-align: justify;
}

#bookInfoDiv {
  margin: 25px;
  justify-content: left;
  width: 30%;
}

textarea {
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
}

#websiteTitle {
  margin-left: 50px;
  font-size: xx-large;
}

#links {
  display: flex;
}

.link {
  margin-left: 20px;
  margin-right: 50px;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#oneBookContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button {
  background-color: pink;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
  width: 80px;
  border: 1px solid black;
}

#newBookConatiner {
    margin: auto;
}

#newBookTitle {
  margin-right: 47px;
}

#newBookAuthor {
  margin-right: 31px;
}

#newBookCoverArt {
  margin-right: 16px;
}

#newBookDescription {
  margin-right: 5px;
}

.newBookInput {
  width: 200px;
  display: inline-block;
}

.newBookLabel {
  text-align: right;
}
